<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Categorias</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script> 
      $(document).ready(function() { 

        $("#delete").click(function(event) { 
          event.preventDefault(); 
          window.location.href = '/delete-category/'+ event.target.value;
        });  
      }); 
  </script> 
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
      <div class="float-right">
            <button onclick="window.location.href = '/logout'" class="btn btn-secondary" type="submit">Sair</button>     
      </div>

      <div>
        <p class="text-primary" id="header">Categorias</p>
      </div>

      <% if (list && list.length) { %>
        <ul class="list-group  list-group-hover">
          <% list.forEach((category) => { %>
            <li >
              <a class="list-group-item" href="/categories/<%= category.id %>/words" >
                <div class=" text-secondary" ><%= category.name %></div>
                <div class="float-right">
                  <button value='<%= category.id %>' id="delete" class="btn btn-danger btn-sm">Deletar</button>
                </div>
              </a>
            </li>
          <% }) %>
        </ul>
      <% } %>

      <button onclick="window.location.href = '/create-category';" class="btn btn-primary btn-lg btn-block">Criar Categoria</button>
    </div>
  </body>
</html>