<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Adicionar Palavra</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">
            <div class="float-right">
                    <button onclick="window.location.href = '/categories/<%= categoryId %>/words'" class="btn btn-secondary" type="submit">Voltar</button>     
            </div>

            <div>
                <p class="text-primary" id="header">Salvar Palavra</p>
            </div>
        
            <form action="/categories/<%= categoryId %>/create-word" method="POST">
                <div class="form-group">
                    <label for="word" class="text-secondary">Palavra</label>
                    <input class="form-control form-control-lg" type="text" value="" id="word" name="word" placeholder="exemplo" />
                </div>

                <div class="form-group">
                    <label for="separatedBySyllables" class="text-secondary">Separado por sílabas</label>
                    <input class="form-control form-control-lg" type="text" value="" id="separatedBySyllables" name="separatedBySyllables" placeholder="e-xem-plo" />
                </div>

                <div class="form-group">
                    <label for="difficultyLevel" class="text-secondary">Dificuldade</label>
                    <select class="form-control form-control-lg" id="difficultyLevel" name="difficultyLevel">
                        <% Object.keys(difficultyLevels).forEach(function(item){ %>
                            <option value="<%= item %>"><%= difficultyLevels[item] %></option>
                        <% }) %>
                    </select>
                </div>
                
                <button type="submit" class="btn btn-primary btn-lg btn-block">Salvar</button>
            </form>
        </div>

        <script src="" async defer></script>
    </body>
</html>