<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Criar Categoria</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">
            <div class="float-right">
                    <button onclick="window.location.href = '/categories'" class="btn btn-secondary" type="submit">Voltar</button>     
            </div>

            <div>
                <p class="text-primary" id="header">Salvar Categoria</p>
            </div>

            <% if (categoryId) { %>
            <form action="/update-category/<%= categoryId %>" method="POST">
            <% } else { %>
            <form action="/create-category" method="POST">
            <% } %>
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" value="<%= categoryName %>" id="name" name="name" placeholder="Nome da Categoria" />
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">Salvar</button>
            </form>
            
        </div>
    </body>
</html>