li {
    display: flex;
}

.list-group-item {
    display: flex !important;
    width: 100%;
    justify-content: space-between;
}

.list-group-hover .list-group-item:hover {
    background-color: #f5f5f5;
}

.btn btn-danger btn-sm{
    z-index: 1000000;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    font-size: 25px;
    display:block;
}

.text-primary {
    font-size: 40px;
}

.btn {
    margin-top: 2%;
}

label {
    font-size: 25px;
}
